dlib
click
colorama
face-recognition
face-recognition-models
Flask
Flask-SQLAlchemy
greenlet
gunicorn
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
numpy
opencv-python
Pillow
psycopg2
SQLAlchemy
Werkzeug
zipp
